.trip-details {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  font-family: "Arial", sans-serif;
}

.trip-details-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 2rem;
}

.trip-details-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.trip-details-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.trip-details-content {
  padding: 2rem;
  background-color: #fff;
}

.trip-details-content h2 {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 1rem;
  border-bottom: 2px solid #007bff;
  padding-bottom: 0.5rem;
}

.trip-details-content p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.trip-details-content p:last-child {
  margin-bottom: 0;
}

.trip-details-content ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 1rem;
  color: #333;
}

.trip-details-content ul li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.trip-details-content .cta {
  margin-top: 2rem;
  text-align: center;
}

.trip-details-content .cta button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.trip-details-content .cta button:hover {
  background-color: #0056b3;
}

@media (max-width: 1200px) {
  .trip-details-card {
    max-width: 800px;
  }
}

@media (max-width: 992px) {
  .trip-details-card {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .trip-details-card {
    max-width: 600px;
  }

  .trip-details-image img {
    height: 300px;
  }

  .trip-details-content {
    padding: 1.5rem;
  }

  .trip-details-content h2 {
    font-size: 2rem;
  }

  .trip-details-content p {
    font-size: 1.1rem;
  }

  .trip-details-content ul li {
    font-size: 1rem;
  }

  .trip-details-content .cta button {
    padding: 0.6rem 1.2rem;
  }
}
@media screen and (max-width: 850px) {
  .trip-details-content .cta button {
    display: block;
    margin: auto;
  }
}

@media (max-width: 576px) {
  .trip-details-content .cta button {
    display: block;
  }
  .trip-details-card {
    max-width: 100%;
  }

  .trip-details-image img {
    height: 250px;
  }
}
